@import "../../../variables.scss";
input {
    background-color: inherit;
    border: none;
    font-size: .875rem;
    color: $text;
    padding-left: 0em;
    width: 8.75rem;
    height: 1.6rem;
}
input:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder{
    color:$focused;
    transition: .3s;
}

input:active {
    color: $text;
}
input::placeholder{
    color: $inactive;
}