@import "../../../variables.scss";

.header {
    height: 80px;
    background-color: $tone1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    padding: $padding;
}

.title {
    font-weight: bold;
    display: flex;
    flex-direction: column;

    .credit {
        font: {
            weight: normal;
            size: 0.875em;
        }
    }
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.body {
    background-color: $tone2;
    min-height: 80px;
    padding: $padding;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}
// Course CSS
.Course {
    display: flex;
    justify-content: space-around;
}
//AddCourse CSS
input {
    background-color: inherit;
    border: none;
    font-size: inherit;
    color: inherit;
    padding-left: 0px;
    width: 140px;
}

input:focus {
    outline: none;
}

input:active {
    color: $color;
}