@import "../../../variables.scss";

.Prereqs {
    font-size: .875rem;
}

.none {
    padding: .625rem;
}

.multiple {
    padding-bottom: .625rem;
}

ul {
    margin: 0em;
    padding-left: 1.25em;
}

.group {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.topLevel {
    display: flex;
    align-items: center;
}

.Options {
    padding: 0em .9375rem;
}

.req {
    margin-bottom: .1875rem;
    font-size: .875rem;
}
