@import "../../../variables.scss";

.selectHeader {
    background-color: var(--base);
    font-size: .875rem;
    padding: .625rem;
    padding-left: .9375rem;
    margin-bottom: .5em;
    color: white;
    font-weight: $semibold;
    display: flex;

    .And {
        color: white;
        margin-right: .25rem;
        font-weight: $bold;
    }


}

.mult {
    align-items: center;
    margin-top: .5rem;

    .And{
        height: 1.125rem;
    }
}