@import "../../../variables.scss";

.Or {
    font-weight: $semibold;
    margin: 0em .25em;
    height: 1.375em;
    color: $text;
}

.And {
    padding-left: .25em;
    font-weight: bold;
    color: $text;
    height: 1.375em;
}