@import "../../../variables.scss";

.Or {
    max-width: 300px;
    font-weight: $semibold;
    width: max-content;
    margin: 0px 4px;
    height: 22px;
    color: $text;
}

.And {
    padding-left: 4px;
    font-weight: bold;
    color: $text;
    height: 22px;
}