@import "../../../variables.scss";
@import "../../../App/App.scss";

.Info {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--deep);
    border-top-left-radius: .625rem;
    border-top-right-radius: .625rem;
    padding: .7rem;

    .icons {
        display: flex;
        flex-direction: column;
        padding-left: .25rem;
    }

    .icon{
        margin-bottom: .2rem;
    }

    .faded{
        color: var(--pastel)
    }

    .iconList {
        display: flex;
        flex-direction: row-reverse;
    }

}

.closed {
    border-radius: .625rem
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .courseId {
        font-size: 1rem;
        font-weight: $heavy;
    }

    .name {
        font-size: .9375rem;
        font-weight: $bold;
    }

    .credit {
        font-size: .875rem;
        font-weight: $semibold
    }
}

