@import "../../variables.scss";
.Semester{
    box-shadow: $float;
    border-radius: .625em;
}
.header {
    height: 4em;
    min-width: 12em;

    display: flex;
    justify-content: space-between;
    border-top-left-radius: .625em;
    border-top-right-radius: .625em;
    border-bottom: .5em solid var(--base);
    padding: .625em;

    background-color: var(--deep);
    color: white;

    .title {
        height: 1.25em;
        display: flex;
        flex-direction: column;
        font: {
            weight: $heavy;
            size: 1em;
        }

        .credit {
            font: {
                weight: $semibold;
                size: .9375em;
            }
        }
    }

    .icon_holder{
        padding: .625em;
    }

}

.body {
    background-color: white;
    min-height: 3em;
    padding: .625em .625em;
    border-bottom-left-radius: .625em;
    border-bottom-right-radius: .625em;
}

