@import '../../variables.scss';
.Header{
    height: 80px;
    width: 100%;
    background-color: $dark-teal;
    line-height: 80px;
    padding-left: 20px;
    color: $white;
    font-size: 30px;
    font-weight: 725;
}