@import '../../variables.scss';

.Header {
    height: max(10vh, 80px);
    width: 100%;
    background-color: var(--deep);
    padding: 0px .75em;
    color: $white;
    font-size: 2em;
    font-weight: $heavy;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
