@import "../../variables.scss";

.Info {
    color: $white;
    min-height: 85px;
    width: $width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: $med-teal;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    padding: 15px;

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 5px;
    }

}

.closed {
    border-radius: $radius
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.code {
    font-size: 18px;
    font-weight: $heavy;
}

.course {
    font-size: 16px;
    font-weight: $bold;
}

.credit {
    font-size: 15px;
    font-weight: $semibold
}

.vert {
    transform: rotate(90deg);
}

.Result {
    border-radius: $radius;
    box-shadow: $float;
    margin-bottom: 10px;
}
//PR CODE


ul{
    margin: 0px
}

.parent{
    background-color: $lite-teal;
}

.children{
    background-color: rgb(255, 144, 144);
}



.group{
    // make this an inherited property later
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
}



.Or{
    font-weight: $semibold;
    width: max-content;
    padding: 0px 5px
}

.And {
    height: 25px;
    padding-left: 5px;
    font-weight: bold;
    color: rgb(50, 50, 50);
}

.selectHeader {
    background-color: $sat-teal;
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    color: $white;
    font-weight: $semibold;
    width: 100%;
}


