@import "../../variables.scss";

.Spacer{
    min-height: 10px;
}

.Result {
    color:$color;
    min-height: 85px;
    width: $width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: $result-background;
    border-radius: $radius;
    padding: 15px;
    .icons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.code {
    font-size: 18px;
    font-weight: $heavy;
}

.course{
    font-size:16px;
    font-weight: $bold;
}

.credit{
    font-size:15px;
    font-weight:$semibold
}

.vert{
    transform: rotate(90deg);    
}
