@import "../../variables.scss";

.Info {
    color: $white;
    min-height: 85px;
    width: $width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: $med-teal;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    padding: 15px;

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 5px;
    }

}

.closed {
    border-radius: $radius
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.code {
    font-size: 18px;
    font-weight: $heavy;
}

.course {
    font-size: 16px;
    font-weight: $bold;
}

.credit {
    font-size: 15px;
    font-weight: $semibold
}

.vert {
    transform: rotate(90deg);
}

.Result {
    border-radius: $radius;
    box-shadow: $float;
    margin-bottom: 10px;
}


.courses {
    padding: $padding;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}


.Prereqs {
    background-color: $white;
    font-size: 16px;
    border-radius: $radius;
    width: $width;
}

.none{
    padding: $padding
}

.selectHeader {
    background-color: $sat-teal;
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    color: $white;
    font-weight: $semibold;
    width: 100%;
}
.multiple {
    padding-bottom: 10px;
}

.req {
    margin-bottom: 5px;
    background-color: $sat-teal;
    color: white;
    font-weight: $semibold;
    border-radius: 5px;
    text-align: center;
    padding: 6px;
    transition: $transition;
    width: max-content;
    height: 30px;
}

.and {
    height: 25px;
    padding-left: 5px;
    font-weight: bold;
    color: rgb(50, 50, 50);
}


.met:hover {
    @extend .req;
    transition: $transition;
    background-color: $met-green;
}

.unmet:hover {
    @extend .req;
    transition: $transition;
    background-color: $unmet-red;
}

.red {
    @extend .req;
    transition: $transition;
    background-color: $unmet-red;
}

.green {
    @extend .req;
    transition: $transition;
    background-color: $met-green;
}

.iconList{
    display: flex;
    justify-content: right;
    width: 35px;
}



.Bullet{
    margin-top: 7.5px;
    min-width: 12px;
    height: 12px;
    background-color: $sat-teal;
    border-radius: 2px;
}


.main{
    background-color: $sat-teal;

}

.sub{
    background-color: $lite-teal
}



.Option{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 5px;
}

.Or{
    font-weight: $semibold;
    width: max-content;
    height: 25px;
    padding: 0px 5px
}

.BulletedOption{
    display: flex;
}

ul{
    margin-top: 1px;
    padding-left: 10px;
}



.andTopLevel{
    display: flex;
    align-items: center;
}

