@import "../../variables.scss";

.Year {
    display: flex;
    align-items: flex-start;
    gap: $grid-gap;

     // display: grid;
    // grid-gap: 1rem;
    // grid-template-columns: repeat(3, 1fr);
}