@import "../../../../variables.scss";
@import "../../../Result/Bullet/Bullets.scss";
$course-fade: .3s;
.Course {
    color:$text;
    font-size: .875rem;
    display: flex;
    align-items: center;
    height: 1.6rem;
    .bullet{
        @extend .Bullet;
    }


}

.Course:hover{
    color: var(--pastel);
    transition: $course-fade;
    .bullet{
        background-color: var(--pastel);
    }
}

.missing{
    @extend .Course;
    color: var(--base);
    .bullet{
        background-color: var(--deep);
    }
}

