@import "../../../../variables.scss";
.Course {
    color:$text;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 25px;
    transition: $transition;
    .bullet{
        background-color: var(--base);
        width: 10px;
        height: 10px;
        border-radius: 2px;
        margin-right: 5px;
        transition: $transition;
    }

}

.Course:hover{
    color: var(--pastel);
    transition: $transition;
    .bullet{
        background-color: var(--pastel);
        transition: $transition;
    }
}

.missing{
    @extend .Course;
    color: var(--base);
    .bullet{
        background-color: var(--deep);
    }
}

