@import './variables.scss';
.App{
    display: flex;
    height: 1000px;
}

.Years{
    display: flex;
    flex-direction: column;
}

.Search{
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 15px;
    height: 560px;
    display: flex;
    flex-direction: column;
    overflow:scroll;
    overflow-y:scroll;
}
.icon:hover{
    transition: $transition;
    color: $focus
}
.rotate:hover{
    transition: $transition;
    transform: rotate(90deg);
}

.rotate{
    transition: $transition;
}

