@import './variables.scss';
.Body{
    display: flex;

}

.Years{
    display: flex;
    flex-direction: column;
}

.Search{
    padding: $padding;
    padding-left: 0px;
    min-width: 250px;
    height: 560px;
    display: flex;
    flex-direction: column;
    overflow:scroll;
    overflow-y:scroll;
}
.icon:hover{
    transition: $transition;
    color: $focus
}
.rotate:hover{
    transition: $transition;
    transform: rotate(90deg);
}

.rotate{
    transition: $transition;
}

