$tone1: rgba(74, 124, 125, 100%);
$tone2: rgba(132, 174, 176, 100%);
$color: rgb(255,255,255);
$inactive: rgba(255,255,255, 50%);
$focus: rgba(255,255,255, 75%);
$radius: 10px;
$padding: 15px;
$header-height: 75px;
$body-height: 50px;
$width: 300px;
$result: rgb(50, 50, 50);
$result-background: rgb(100,100,100);
$border: 5px;
$heavy: 800;
$bold: 700;
$semibold: 600;
$transition: .4s;
$regular: 400;