// dimensions
$radius: 10px;
$padding: 15px;
$header-height: 75px;
$body-height: 50px;
$width: 300px;
$border: 5px;

// Gradient
$dark-teal: #406064;
$med-teal: #507A7C;
$sat-teal: #538C8D;
$teal: #66A2A3;
$fade-teal: rgba(132, 174, 176, 100%);
$lite-teal: #8CB9BA;
$pastel-teal:#CCE0E0;
$white: #FFFFFF;
$focused: rgba(255,255,255, 75%);
$inactive: rgba(255,255,255, 50%);
$matte-black: rgb(50, 50, 50);


//Bolding
$heavy: 800;
$bold: 700;
$semibold: 600;
$regular: 400;
$transition: .4s;
//Shadow
$float: 0px 4px 4px rgba(0, 0, 0, 0.25);





