@import "../../../variables.scss";

.header {
    height: $header-height;
    min-width: $width;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    border-bottom: $border solid $color;
    padding: $padding;
    padding-left: 20px;

    background-color: $tone1;
    color: $color;

    .title {
        display: flex;
        flex-direction: column;
        font: {
            weight: $heavy;
            size: 18px;
        }

        .credit {
            font: {
                weight: $regular;
                size: 16px;
            }
        }
    }

    .icons {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 55px;
    }
}

.border{
    position: absolute;
    z-index: 2;
    right: 65px;
    width: 130px;
    border-left: $border solid $color;
    border-right: $border solid $color;
}

.body {
    background-color: $tone2;
    min-height: $body-height;
    padding: $padding;
    padding-left: 20px;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    // Course CSS
    .Course {
        color:$color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25px;
        margin-bottom: 10px;
    }

    //AddCourse CSS
    .AddCourse {
        input {
            background-color: inherit;
            border: none;
            font-size: inherit;
            color: $color;
            padding-left: 0px;
            width: 140px;
        }
        input:focus {
            outline: none;
        }

        input:focus::-webkit-input-placeholder{
            color:$focus;
            transition: .3s;
        }

        input:active {
            color: $color;
        }
        input::placeholder{
            color: $inactive;
        }


    }
}
